{% extends 'MagypRendicionDeCajaBundle:AnticipoDeGasto:base.html.twig' %}

{% form_theme edit_form 'form_table_layout.html.twig' %}
{% block cabecera %}
    {{ parent() }}

    <div class="acciones">
        <span style="margin-right: 25px; vertical-align: middle;">Acciones de Gastos: </span>
        
		<li onclick="parent.location='{{ path('af_notasgenericas_home') }}'" class="volver">Volver</li>
                          
                             
    </div>	

{% endblock %}
{% block cuerpo %}

	{% embed "MagypRendicionDeCajaBundle:Plantilla:crear-modificar.html.twig" %}

		{% block titulo %}  
   
		{% endblock %}
		
		{% block heightMarcoFoto 'style="height:412px"' %}
			
		{% block imagenlateral %}  
			<img src="{{ asset ("images/anticipoGasto.jpg")}}" width="150" height="300px" alt="imagen" style="margin-top:35px;" />
		{% endblock %}
			
		{% block titulo_formulario "MODIFICAR ANTICIPO DE GASTOS" %}	
		
		{% block tabla_formulario %} 
            
          <div class="" style=" min-height:350px; max-height:600px " > 
            <form action="{{ path('af_anticipodegasto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <table id="tabla-Comprobante" align="center" width="10%;">
                    <tr>
                        <td class="padding_derecho" align="right"Style=" width: 10%">{{ form_label(edit_form.expediente) }}:</td>
                        <td class="padding_left" align="left" Style=" width: 30%">{{ form_widget(edit_form.expediente) }}</td>
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right">{{ form_label(edit_form.nota) }}:</td>
                        <td class="padding_left" align="left">{{ form_widget(edit_form.nota) }}</td>		
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right">{{ form_label(edit_form.area) }}:</td>
                        <td class="padding_left" align="left" >{{ form_widget(edit_form.area) }}</td>
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right">{{form_label(edit_form.monto) }}:</td>
                        <td class="padding_left" align="left">{{ form_widget(edit_form.monto) }}</td>	
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right">{{form_label(edit_form.motivo) }}:</td>
                        <td class="padding_left" align="left">{{ form_widget(edit_form.motivo) }}</td>	
                    </tr>
                </table>
					<br />
                <button type="submit" class="btn btn-default">Modificar</button>
                	
                {{ form_rest(edit_form) }}
            </form>  
            {# <a href="{{ path('af_anticipodegasto') }}" class="btn btn-default">Volver</a> #}
           </div>      
                  
                  
		{% endblock %}
                
        {% block botones %}  
            
		{% endblock %}
                            
		{% block estilosEspeciales %}
			<link href="{{asset('css/plantillas/crear-modificar.css')}}" rel="stylesheet" type="text/css">
			<link href="{{asset('css/plantillas/crear-modificar-verde.css')}}" rel="stylesheet" type="text/css">
		{% endblock %}
	
	{% endembed %}
			
{% endblock %}

