<h1>FuenteFinanciamiento</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Ff_id</th>
            <td>{{ entity.ffid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('entidades_fuentefinanciamiento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entidades_fuentefinanciamiento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('entidades_fuentefinanciamiento_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
