{% extends 'MagypRendicionDeCajaBundle:Area:base.html.twig' %}

{% block cuerpo %}
    {% embed "MagypRendicionDeCajaBundle:Plantilla:crear-modificar.html.twig" %}

        {% block titulo %}  <br />{% endblock %}

        {% block heightMarcoFoto 'style="height:415px; width:150px;"' %}

        {% block imagenlateral %}  
                <img src={{ asset ("images/lateral-area-editar.png")}} alt="ModificarÁrea" style="margin-top:35px; width:150px;" />
        {% endblock %}

        {% block titulo_formulario "MODIFICAR  ÁREA" %}	

        {% block tabla_formulario %}
            <form action="{{ path('af_area_update', { 'id': area.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <table id="registroForm" border="0" cellspacing="3" style="height:300px; margin-top:0;">
                    <tr>
                        <td class="padding_derecho" align="right"Style=" width: 49%">{{ form_label(edit_form.nombre) }}:</td>
                        <td  align="left" Style=" width: 51%">{{ form_widget(edit_form.nombre) }}</td>
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right" Style=" width: 50%">Responsable:</td>
                        <td  align="left"   Style=" width: 50%">
                            <select id="responsable" name="responsable">
                                {% if area.responsable == "No tiene" %}
                                    <option selected value="-1">NO TIENE</option>
                                    {% for usuariosresponsable in usuariosresponsables %}
                                        <option value="{{ usuariosresponsable.id }}">{{ usuariosresponsable.apellido }}, {{ usuariosresponsable.nombre }}</option>
                                    {% endfor %}
                                {%else%}
                                    <option value="-1">NO TIENE</option>
                                    {% for usuariosresponsable in usuariosresponsables %}
                                        {% if usuariosresponsable.id == area.responsable.id %}
                                            <option selected value="{{ usuariosresponsable.id }}">{{ usuariosresponsable.apellido }}, {{ usuariosresponsable.nombre }}</option>
                                        {%else%}
                                            <option value="{{ usuariosresponsable.id }}">{{ usuariosresponsable.apellido }}, {{ usuariosresponsable.nombre }}</option>
                                        {%endif%}
                                    {% endfor %}
                                {%endif%}
                            </select>
                        </td>		
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right">Subresponsable:</td>
                        <td align="left" >
                            <select id="subresponsable" name="subresponsable">
                                {% if area.subresponsable == "No tiene"%}
                                    <option value="-1">NO TIENE</option>
                                    {% for usuariosubresponsable in usuariossubresponsables %}
                                            <option value="{{ usuariosubresponsable.id }}">{{ usuariosubresponsable.apellido }}, {{ usuariosubresponsable.nombre }}</option>
                                    {% endfor %}
                                {%else%}
                                    <option value="-1">NO TIENE</option>
                                    {% for usuariosubresponsable in usuariossubresponsables %}
                                        {% if usuariosubresponsable.id == area.subresponsable.id %}
                                            <option selected value="{{ usuariosubresponsable.id }}">{{ usuariosubresponsable.apellido }}, {{ usuariosubresponsable.nombre }}</option>
                                        {%else%}
                                            <option value="{{ usuariosubresponsable.id }}">{{ usuariosubresponsable.apellido }}, {{ usuariosubresponsable.nombre }}</option>
                                        {%endif%}
                                    {% endfor %}
                                {%endif%}
                            </select>
                        </td>
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right" Style=" width: 49%">{{form_label(edit_form.monto) }}:</td>
                        <td  align="left" Style=" width: 51%">{{ form_widget(edit_form.monto) }}</td>	
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right" Style=" width: 50%">{{form_label(edit_form.programa) }}:</td>
                        <td align="left" >{{ form_widget(edit_form.programa) }}</td>	
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right" Style=" width: 50%">{{form_label(edit_form.actividad) }}:</td>
                        <td  align="left" >{{ form_widget(edit_form.actividad) }}</td>	
                    </tr>
                    <tr>		
                        <td class="padding_derecho" align="right" Style=" width: 50%">{{form_label(edit_form.ug) }}:</td>
                        <td  align="left" >{{ form_widget(edit_form.ug) }}</td>	
                    </tr>
                    <tr>		
                        {#<td>{{form_label(edit_form.ff) }}:</td>#}
                        <td align="right" Style=" width: 50%"><label>Fuente de Financiamiento:</label></td>
                        <td align="left">{{ form_widget(edit_form.ff) }}</td>	
                    </tr>
                    <tr>		
                        {{ form_rest(edit_form) }}
                    </tr>
                    <tr>
                        <td  align="center" colspan="2" scope="row">
                            <div style="margin:10px; padding: 0" align="center">
                                <button type="submit" class="btn btn-default">Guardar</button>
                                <button type="button" class="btn btn-default" onclick="parent.location='{{ path('af_area')}}'">Volver</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <script>
                $("#responsable").html($('#responsable option').sort(function(x, y) {
                    return $(x).text().toLowerCase() < $(y).text().toLowerCase() ? -1 : 1;
                }))
                {% if area.responsable == "No tiene"%}
                    $('#responsable option[value=-1]').attr('selected','selected');
                {%else%}
                    $('#responsable option[value={{area.responsable.id}}]').attr('selected','selected');
                {%endif%}
                $("#subresponsable").html($('#subresponsable option').sort(function(x, y) {
                    return $(x).text().toLowerCase() < $(y).text().toLowerCase() ? -1 : 1;
                }))
                {% if area.subresponsable == "No tiene"%}
                    $('#subresponsable option[value=-1]').attr('selected','selected');
                {%else%}
                    $('#subresponsable option[value={{area.subresponsable.id}}]').attr('selected','selected');
                {%endif%}
            </script>
        {% endblock %}


        {% block estilosEspeciales %}
                <link href="{{asset('css/plantillas/crear-modificar.css')}}" rel="stylesheet" type="text/css">
                <link href="{{asset('css/plantillas/crear-modificar-verde.css')}}" rel="stylesheet" type="text/css">
        {% endblock %}

    {% endembed %}
			
{% endblock %}

















