<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} Cofra - Rendici칩n de Caja</title>
                <link href="{{ asset('css/basecofra.css') }}" rel="stylesheet" type="text/css" media="screen">
		{% block stylesheets %}
			{# las hojas de estilos directos en /web #}
			<!--<link href="{{ asset('css/base2.css') }}" rel="stylesheet" type="text/css" media="screen">-->
                      
			<link rel="shortcut icon" href=" {{ asset ('images/favicon.ico') }}" />
			{% block estilosEspeciales %}
			
			{% endblock %}
		{% endblock %}
		{% block javascripts %}
				
                                  {#  <script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script> #}
				    <script src="{{ asset('js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
				    <script src="{{ asset('/js/notify/src/jquery-ui.js') }}" type="text/javascript"></script>
				    <script src="{{ asset('/js/notify/src/jquery.notify.js') }}" type="text/javascript"></script>
                                    
                                    <script type="text/javascript" src="{{ asset('js/imghover.js')}}"></script>
                                    <script type="text/javascript" src="{{ asset('js/efectosgenerales.js')}}"></script>
                                    
				{# <script src="{{ asset('js/jquery-1.8.0.js') }}" type="text/javascript"></script> #}
			{% block javascriptEspeciales %}
				{#<script type="text/javascript" src="{{ asset('js/jquery.idTabs.min.js')}}"></script>#}
			{% endblock %}
		{% endblock %}
	</head>

{% block scriptOnload %}
	<body>  
{% endblock %}

    <div id="contenedor">
            <header>
                {% block cabecera %}
                    <div id="logo">
                            <img name="logo" src={{ asset ("images/logo3-2.png") }} width="210" height="80" alt="logo" style="float:left">
                    </div>					
                    <!--<div id="botonera">

                            {% block botonera %}
                            {% endblock %}
                    </div>-->
                    <div id="vacio">
                            <div id="logoMinisterio">
                            </div>
                    </div>
                    
                    <div id="subHeader">
                    </div>
                    
                {% endblock %}
            </header>
        <article>
            {% block cuerpo %}
            {% endblock %}
        </article>
        
        <div class="push"></div>
    </div>
        <footer>
            {% block pie %} 
                Direcci칩n de Inform치tica | Av. Paseo Col칩n 982 (1063) Tel: 54 11 4349-2000 | Bs. As. - Argentina
            {% endblock %}
        </footer>
    </body>
</html>
