{% extends "FrameworkSeguridadBundle:Admin:base.html.twig" %}

{% block body %}
{% spaceless %}
<h1>Accion list</h1>

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
			<tr>
				<td><a href="{{ path('admin_gestionpermiso_accion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.nombre }}</td>
				<td>
					<ul>
						<li>
							<a href="{{ path('admin_gestionpermiso_accion_show', { 'id': entity.id }) }}">show</a>
						</li>
						<li>
							<a href="{{ path('admin_gestionpermiso_accion_edit', { 'id': entity.id }) }}">edit</a>
						</li>
					</ul>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path('admin_gestionpermiso_accion_new') }}">
				Create a new entry
			</a>
		</li>
	</ul>
{% endspaceless %}
{% endblock %}