{#{% extends 'MagypRendicionDeCajaBundle:Archivar:base.html.twig' %}#}
{% extends "::tecofra.html.twig" %}

{% block cuerpo %}
    {% embed "MagypRendicionDeCajaBundle:Plantilla:crear-modificar.html.twig" %}

        {% block titulo %}  {% endblock %}
        {% block heightMarcoFoto 'style="height:412px"' %}

            {% block imagenlateral %}  
                <img src={{ asset ("images/botonera2/images/TE-pagar.jpg")}} width="150" height="350" alt="imagen" style="margin-top:35px;" />
            {% endblock %}
			
            {% block titulo_formulario "PAGAR" %}	

                {% block tabla_formulario %}  
					<div class="contieneRendicionTesoreria">
						<form action="{{ path('te_apagar_create', { 'idrendicion': idrendicion }) }}" method="post">
							<table class="tablaTItulo2 tablaFormularios" cellspacing="10" border="0" width="auto" style="margin-top:40px; text-align: center;">
								<tr>
									<td>
										<h4 style="text-align: center;">Codigo de Barras de la Liquidacion:</h4>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;">
										<input style="text-align: center !important;" type="text" name="liquidacionenviada" id="liquidacionenviada" maxlength="255" size="30" value="" required="required" />
									</td>
								</tr>
								<tr>
									<td colspan="2" scope="row" style="text-align: center;">
										<div style="margin:10px;" align="center">
											<button type="submit" class="btn-tesoreria">Guardar</button>
											<a href="{{ path('te_home') }}" >
												<button type="button" class="btn-cancelar" >Salir</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
					<script>
						$(document).find("table th").val("PAGAR");
					</script>
                {% endblock %}

                {% block estilosEspeciales %}
                    <link href="{{asset('css/plantillas/crear-modificar.css')}}" rel="stylesheet" type="text/css">
                    <link href="{{asset('css/plantillas/crear-modificar-verde.css')}}" rel="stylesheet" type="text/css">
					
					<style>
						.tablaFormularios th {
							background-color:#1a76b5 !important;
						}
					</style>
                {% endblock %}

                {% endembed %}

                    {% endblock %}