{% extends 'MagypRendicionDeCajaBundle:Area:base.html.twig' %}

{% block cuerpo %}
 <section id="panel-home" >
    <div id="superSuperior" Style="background-color:#009896; margin-top: 20px;">
        <h1>Modificar Leyenda</h1>
      <br/>   
        <div id="colIzPipGral" Style="background-color:#fff; width:480px; height:270px; display:inline; color:black; ">
          <br/>
            <br/>   
           <form action="{{ path('sistema_af_leyenda_update', { 'id': entity.id }) }}" method="post">
			   <table id="tabla-leyenda" cellspacing="5" border="0" align="center" width="100%; ">
				<tr>
					<td colspan="2">Escriba debajo la leyenda: (maximo 255 caracteres)</td>
				</tr>
				<tr>
					<td colspan="2"><textarea class="leyendaArea" rows="4" cols="50" id="leyenda" name="leyenda">{{entity.leyenda}}</textarea></td>
				</tr>
				<tr>
					<td align="right" width="50%">Seleccione el año: </td>
					<td align="left" width="50%">
					<select id="anio" name="anio" style="width:100px;">
           	 		{% for aniototal in 2013..2020 %}
               	 		<option value="{{  aniototal }}">{{  aniototal }}</option>
            			{% endfor %}
					</select>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td colspan="2">
						<button class="btn btn-default" type="submit">Guardar</button>
					</td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
		</table>
				<!--   
			   <textarea type= "text" id="leyenda" rows="4" cols="50" name="leyenda" value= "{{entity.leyenda}}"></textarea>
            
                    <select id="anio" name="anio">
                        {% for aniototal in 2013..2020 %}
                            <option value="{{  aniototal }}">{{  aniototal }}</option>
                        {% endfor %}    
                    </select>
                    <br/>    
            <button class="btn btn-default" type="submit"> Editar</button>
             <br/>
                 <br/>
                   <br/>
                     <br/> 
	-->
            </form>
          </div>  
               <br/> 
                <br/>      
                  <br/> 
                    <br/>  
                  <div id="volver" Style="background-color:#009896;" class="volver">    
                   <a href="{{ path('sistema_af_leyenda') }}">Volver al listado</a>
                  </div>
                  
      </div>
</section>  
{% endblock %}