{% block cuerpo %}

<h1>{% block titulotabla "" %}</h1>

{% block busqueda %}
{% endblock %}

<section>
<div id="colArea">
	{% block tabla %}
	{% endblock %}
	<div style="margin-top:15px; margin-bottom:15px;">
	{% block botones %}
	{% endblock %}
	    
	</div>
</div>
</section>
{% endblock %}

{% block javascriptEspeciales %}
{#error1
<script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/tinybox.js') }}" type="text/javascript"></script>


<!-- script autocompletar -->
<script type="text/javascript" src="{{ asset('js/jquery.autocomplete.js')}}"></script> 
<script type="text/javascript" src="{{ asset('js/jquery.mockjax.js')}}"></script> 
<link href="{{asset('js/styles2.css')}}" rel="stylesheet" type="text/css">

{% endblock %}


