{% extends 'MagypRendicionDeCajaBundle:Plantilla:generalcofra_login.html.twig' %}
	{% block javascriptEspeciales %}
		{#error1 <script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script> #}
		<script type="text/javascript" src="{{ asset('js/imghover.js')}}"></script>

	{% endblock %}
		


{% block cuerpo %}
<style>
		table td {
			font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold", "Verdana" !important;
		}	
		</style>
<section>
    <div id="colIzLogin">
	<img src={{ asset ("images/cambioClave.jpg") }} width="150" height="300" alt="login" style="margin-top:35px;" />
    </div>
    <div id="colDe" style="height:350px !important; min-height: 350px;">
	<table width="100%" border="0" cellspacing="0" align="center" style="background-color:#FCCD59; text-align:center; color:#FFF; margin-top:0;">
	    <tr>
		<th scope="col" style="text-align:center; font-size:20px; background-color:#5fb2ae; color:#fff;">Cambio de contraseña obligatorio.</th>
	    </tr>
	</table>
	
	<form action="{{ path('usuario_update_password', { 'id': entity.id, 'estadodepassword': 0 }) }}" method="post" {{ form_enctype(edit_form) }}>

	    <table width="auto" style="margin-left:auto; margin-right:auto; " border="0" cellpadding="0" cellspacing="5" class="">
		
                
        <tr>
		    <td colspan="2">Contraseña:</td>
		</tr>
		<tr>
		    <td colspan="2"> <fieldset id="inputs" style="border:0;"> {{ form_widget(edit_form.password.first) }}</fieldset> </td>

		</tr>
		<tr>
		    <td colspan="2">{% set error = form_errors(edit_form.password.first) %}{% if error |length > 0 %}<span title="{{error | striptags}}" class="tooltip"><img src="{{ asset ('images/iconos/error2.png') }}" width="24px" height="24px"/></span>{% endif %}</td>
		</tr>
		<tr>
		    <td colspan="2">
                    Confirmar contraseña:
                    </td>
		</tr>

		<tr>
		    <td colspan="2"><fieldset id="inputs" style="border:0;">{{ form_widget(edit_form.password.second) }} </fieldset> </td>
		</tr>
		<tr>
		    <td colspan="2" style="text-align:right;">{% set error = form_errors(edit_form.password.second) %}{% if error |length > 0 %}<span title="{{error | striptags}}" class="tooltip"><img src="{{ asset ('images/iconos/error2.png') }}" width="24px" height="24px"/></span>{% endif %}</td>
		</tr>
                <tr>
                    <td colspan="2" align="center"><!--<button type="submit" class="btn boton" style="display:inline-block;">Guardar</button>-->
                        <input type="submit"  class="btn btn-default" value="Guardar"/>
                    </td>
                </tr>

	    </table>
  {{ form_rest(edit_form) }}
	</form>

    </div>
</section>
















{% endblock %}