{% extends 'MagypRendicionDeCajaBundle:UsuarioPassword:base.html.twig' %}

{% block cuerpo %}
<style>

</style>
<section>
	
    <div id="colIzLogin">
	<img src={{ asset ("images/cambioClave.jpg") }} width="150" height="300" alt="login" style="margin-top:35px;" />
    </div>
    <div id="colDeCambioPass">
	<table width="100%" border="0" cellspacing="0" align="center" style="background-color:#FCCD59; text-align:center; color:#FFF; margin-top:0;">
	    <tr>
		<th scope="col" style="text-align:center; font-size:20px; background-color:#5fb2ae; color:#fff;">Cambiar Contraseña</th>
	    </tr>
	</table>
	<form  action="{{ path('cambiopassword_seteanuevo', {"hash" : hash }) }}" method="post" {{ form_enctype(form) }}>
	    <table width="auto" style="margin-left:auto; margin-right:auto; " border="0" cellpadding="0" cellspacing="5" class="">
		<tr>
		    <td colspan="2">  </td>
		</tr>
		<tr>
			<td colspan="2"><label>Contraseña</label><fieldset  id="inputs" class="inputCambiarClave">{{ form_widget(form.password.Clave) }} </fieldset></td>
		</tr>
        <tr>
			<td colspan="2"><label>Confirmar contraseña</label><fieldset class="inputCambiarClave" id="inputs">{{ form_widget(form.password.Confirmar_clave) }} </fieldset></td>
		</tr>
		<tr>
		    <td colspan="2"></td>
		</tr>
		<tr>
		    <td colspan="2"></td>
		</tr>
		<tr>
		    <td colspan="2" align="center"><input  type="submit" class="btn btn-default"  value="Enviar"> </td>
		</tr>
		<tr>
		    <td colspan="2"></td>
		</tr>
	    </table>
        {{ form_rest(form) }}
	</form>
    </div>
</section>
{% endblock %}
