{% extends 'MagypRendicionDeCajaBundle:Home:base.html.twig' %}

{% block menu %}
{% endblock %}
                
{% block cuerpo %}

<section>
<div class="panel-home">       

				<div class="superSuperior">
					<h1>Panel de Administración</h1>
				</div>
            	<div class="tiles ">
                    <div class="live-tile" id="tile1" data-mode="flip" data-hoverout-delay="-100">        
                        <div>
                            <!--<a class="full" href="#">frente</a>-->
                            <!--<span class="tile-title">-->
							<a href={{ path ("sistema_rendicion") }} ><img src={{ asset("images/botonera2/images/rendi.jpg") }} alt="rendi" width="243" height="104" border="0" class="boton1general"></a><!--</span>-->
                        </div>
                        <div>
                            <a href={{ path ("sistema_rendicion") }} ><img src={{ asset("images/botonera2/images/rendi-over.jpg") }} width="243" height="104" alt="docu" class="boton1general"></a>
                           <!-- <span class="tile-title">atras</span>-->
                        </div>
                  	</div>
                    <div class="live-tile" id="tile2" data-mode="flip" data-hoverout-delay="-100">        
                        <div>
							<a href="{{ asset("manuales/Manual COFRA Usuario General.pdf") }}" target="_blank"><img src={{ asset("images/botonera2/images/documentacion-aplicacacion.jpg") }} alt="rendi" width="243" height="104" border="0" class="boton1genera2"></a>
                        </div>
                        <div>
                           <a href="{{ asset("manuales/Manual COFRA Usuario General.pdf") }}" target="_blank"><img src={{ asset("images/botonera2/images/documentacion-aplicacacion-over.jpg") }} width="243" height="104" alt="docu" class="boton1genera2"></a>
                        </div>
                  	</div>
				
				<div class="panelMedio">
					 <div class="live-tile" id="tile3" data-mode="flip" data-hoverout-delay="-100">        
							<div>
								<a href={{ path ("proveedor") }} ><img src={{ asset("images/botonera2/images/provee.jpg") }} width="243" height="104" alt="pro" class="boton1general"></a>
							</div>
							<div>
								<a href={{ path ("proveedor") }} ><img src={{ asset("images/botonera2/images/provee-over.jpg") }} width="243" height="104" alt="docu" class="boton1general"></a>
							</div>
					 </div>
					 <div class="live-tile" id="tile4" data-mode="flip" data-hoverout-delay="-100">        
						<div>
							<ahref={{ path ("sistema_notificacion_propias") }} ><img src={{ asset ("images/botonera2/images/notifica.jpg") }} width="243" height="104" alt="noti" class="boton2general"></a>
						</div>
						<div>
							<a href={{ path ("sistema_notificacion_propias") }} ><img src={{ asset ("images/botonera2/images/notifica-over.jpg") }} width="243" height="104" alt="noti" class="boton2general"></a>
						</div>
					</div>
				</div>
             </div>
</div>
</section>
{#
<section>
	<div id="panel-home">
		<div class="panel-marco">
			<div id="superSuperior">
				<h1>Panel de Administración</h1>
			</div>
		
				<div class="live-tile" id="tile1" data-mode="flip" data-hoverout-delay="-100">
					<div id="superior">
						<div class="boton1">

								<a href={{ path ("sistema_rendicion") }} ><img src={{ asset("images/botonera2/images/rendi.jpg") }} width="245" height="105" alt="boton2" class="imghover"></a>

						</div>
						 <div class="boton2">

								<a href="{{ asset("manuales/Cofra-General.pdf") }}" target="_blank"><img src={{ asset("images/botonera2/images/documentacion-aplicacacion.jpg") }} width="245" height="105" alt="boton9" class="imghover"></a>
						</div>
					</div>
					<div id="medio">
						<div class="boton1">
								 <a href={{ path ("proveedor") }} ><img src={{ asset("images/botonera2/images/provee.jpg") }} width="245" height="105" alt="boton3" class="imghover"></a>
						</div>
						<div class="boton2">
							<a href={{ path ("sistema_notificacion_propias") }} ><img src={{ asset ("images/botonera2/images/notifica.jpg") }} width="245" height="105" alt="boton4" class="imghover"></a>
						</div>
					</div>
				</div>
			
	</div>
	</div>
</section>
#}
<script type="text/javascript">
            $(document).ready(function(){
               <!-- $(".live-tile").liveTile();-->	
				var $tiles = $("#tile1, #tile2, #tile3, #tile4").liveTile({ 
					playOnHover:true,
					repeatCount: 0,
					delay: 0,
					startNow:false 
				});
            });
        </script>
		{#
<script>
    efectosLoad('slideaizquierda', '#panel-home' );
    setTimeout('$(".imghover").imghover({suffix: "-over"})', 400);
</script>
#}
{% endblock %}